<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Portfolio</title>
</head>
<body>
    <header class="container">
        <nav class="main-nav flex justify-between">
            <a href="#" class="main-link main-link-active">Home</a>
            <a href="#" class="main-link">About me</a>
            <a href="#" class="main-link">Skills</a>
            <a href="#" class="main-link">Portfolio</a>
            <a href="#" class="main-link">Contacts</a>
        </nav>
        <div class="name-section">
            <div class="flex justify-between">
                <h1 class="name">Denis Novik</h1>
                <p class="person-description">UX | UI designer 24 years old, Minsk</p>
                <div class="lang">
                    <button class="button lang-button lang-button-active">RU</button>                    
                    <button class="button lang-button">ENG</button>  
                </div>
            </div>
        </div>
    </header>
    <section class="section about bg-gray">
        <div class="container">
            <h2>About me</h2>
            <p>
                Hi, I'm Denis – UX/UI designer from Minsk. 
                <br>
                I'm interested in design and everything connected with it.
            </p>
            <p>
                I'm studying at courses "Web and mobile design 
                <br>
                interfaces" in IT-Academy. 
            </p>
            <p>
                Ready to implement excellent projects
                <br>
                with wonderful people.
            </p>
        </div>
    </section>
    <section class="section">
        <div class="container">        
            <h2>Skills</h2>
            <p class="text">I work in such programs as</p>
            <ul class="list skils flex justify-between">
                <li>
                    <h3>Adobe Photoshop</h3>
                    <img class="card-img" src="./img/icons/ps.svg">
                    <p>
                        <img src="./img/icons/star-black.svg" alt="Level star1">
                        <img src="./img/icons/star-black.svg" alt="Level star2">
                        <img src="./img/icons/star-black.svg" alt="Level star3">
                        <img src="./img/icons/star-black.svg" alt="Level star4">
                        <img src="./img/icons/star-white.svg" alt="Level star5">
                    </p>
                </li>
                <li>
                    <h3>Adobe Illustrator</h3>
                    <img class="card-img" src="./img/icons/ai.svg">
                    <p>
                        <img src="./img/icons/star-black.svg" alt="Level star1">
                        <img src="./img/icons/star-black.svg" alt="Level star2">
                        <img src="./img/icons/star-black.svg" alt="Level star3">
                        <img src="./img/icons/star-white.svg" alt="Level star4">
                        <img src="./img/icons/star-white.svg" alt="Level star5">
                    </p>
                </li>
                <li>
                    <h3>Adobe After Effects</h3>
                    <img class="card-img" src="./img/icons/ae.svg">
                    <p>
                        <img src="./img/icons/star-black.svg" alt="Level star1">
                        <img src="./img/icons/star-black.svg" alt="Level star2">
                        <img src="./img/icons/star-black.svg" alt="Level star3">
                        <img src="./img/icons/star-black.svg" alt="Level star4">
                        <img src="./img/icons/star-white.svg" alt="Level star5">
                    </p>
                </li>
                <li>
                    <h3>Figma</h3>
                    <img class="card-img" src="./img/icons/figma.svg">
                    <p>
                        <img src="./img/icons/star-black.svg" alt="Level star1">
                        <img src="./img/icons/star-black.svg" alt="Level star2">
                        <img src="./img/icons/star-black.svg" alt="Level star3">
                        <img src="./img/icons/star-black.svg" alt="Level star4">
                        <img src="./img/icons/star-white.svg" alt="Level star5">
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <section class="section bg-gray">
        <div class="container">
            <h2>Portfolio</h2>
            <figure>
                <img class="figure-img" src="./img/case1.jpg">
                <figcaption>
                    <a class="portfolio-link" href="#">Online fashion store - Homepage</a>
                </figcaption>
            </figure>
            <figure>
                <img class="figure-img" src="./img/case2.jpg">
                <figcaption>
                    <a class="portfolio-link" href="#">Reebok Store - Concept</a>
                </figcaption>
            </figure>
            <figure>
                <img class="figure-img" src="./img/case3.jpg">
                <figcaption>
                    <a class="portfolio-link" href="#">Braun Landing Page - Concept</a>
                </figcaption>
            </figure>
        </div>
    </section>
    <footer class="section">
        <div class="container">
            <h2>Contacts</h2>
            <p class="text">
                Want to know more or just chat? You are welcome!
            </p>
            <button class="footer-button">Send message</button>
            <nav>
                <a class="footer-link footer-link-linkedin" href="#" aria-label="linkedin-link"></a>
                <a class="footer-link footer-link-instagram" href="#" aria-label="instagram-link"></a>
                <a class="footer-link footer-link-behance" href="#" aria-label="behance-link"></a>
                <a class="footer-link footer-link-dribble" href="#" aria-label="dribble-link"></a>
            </nav>
            <p class="gray-text">
                Like me on LinkedIn, Instagram, Behance, Dribble
            </p>
        </div>
    </footer>    
</body>
</html>